/* Sections */

section#Home {
  background-image: url(images/makerspace-mask-1200x628.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40%;
}

section#Home p {
  vertical-align: middle;
}

section#Overview {
  padding-top: 40px;
}

section#Help b {
  font-weight: 500!important;
}

section#Help li {
  font-size: 17px;
}

/* Div */

.nav li {
  font-weight: 400;
}

.padding-sections {
  text-align: center;
}

.twitter-timeline {
  width: 80%!important;
}

.row {
  margin: 0px!important;
}

.maximgheight {
  max-height: 550px;
}

.cleaning {
  display: flex;
  justify-content: center;
}
.cleaning b {
  font-weight: 500;
}

/* Global */
body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 18px;
  font-weight: 300;
}

li {
  font-weight: 300;
}

span {
  font-weight: 300;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Mobile Stuff */
@media only screen and (min-width: 800px) {
  .padding-sections {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media only screen and (max-width: 1350px) {
  section#Home {
    padding-top: 35%;
    padding-left: 0px!important;
  }
}

@media only screen and (max-width: 800px) {
  .padding-sections {
    padding-left: 20px;
    padding-right: 20px;
  }

  section#Home {
    background-position: center;
    padding-top: 65%;
    padding-left: 0px!important;
  }
}

